<a href="https://colab.research.google.com/github/kimanuul/python_lectures/blob/main/day0628_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
title: "Python 기초함수"
date: '2022-06-28'
---

# 함수 사용하기
## Hello, world! 출력 함수 만들기

In [ ]:
def hello():
  print('Hello, world!')

hello()

Hello, world!

## 빈 함수 만들기

In [ ]:
def hello():
  pass

## 덧셈 함수 만들기

In [ ]:
def add(a, b):
  print(a + b)

add(10, 20)

30

## 함수 독스트링 사용하기

In [ ]:
def add(a, b):
  """이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다."""
  return a + b

x = add(10, 20)
print(x)

print(add.__doc__) # 함수의 독스트링 출력

help(add)

30
이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
Help on function add in module __main__:

add(a, b)
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

## 함수의 결과를 반환하기

In [ ]:
def add(a, b):
  return a + b

x = add(10, 20)
x

print(add(10, 20))

30

## 함수에서 값을 여러 개 반환하기

In [ ]:
def add_sub(a, b):
  return a + b, a - b

x, y = add_sub(10, 20)

print(x)
print(y)

30
-10

## 함수의 호출 과정 알아보기

In [ ]:
def mul(a, b):
  c = a * b
  return c

def add(a, b):
  c = a + b
  print(c)
  d = mul(a, b)
  print(d)

x = 10
y = 20
add(x, y)

30
200

## 연습문제: 몫과 나머지를 구하는 함수 만들기
- 소스 코드를 완성하여 x를 y로 나누었을 때의 몫과 나머지가 출력되게 만드시오
  + x = 10
  + y = 3

  + quotient, remainder = get_quotient_remainder(x, y)
  + print('몫: {0}, 나머지: {1}'.format(quotient, remainder))

  + 실행결과
  + 몫: 3, 나머지: 1

In [ ]:
def get_quoteint_remainder(x, y):
  return a // b, a % b

# 함수에서 위치 인수와 키워드 인수 사용하기
## 위치 인수를 사용하는 함수 만들고 호출하기

In [ ]:
def print_numbers(a, b, c):
  print(a)
  print(b)
  print(c)

print_numbers(10, 20, 30)

10
20
30

## 언패킹 사용하기
- 함수(*리스트)
- 함수(*튜플)

In [ ]:
x = [10, 20, 30]
print_numbers(*x) # 튜플 언패킹

print_numbers(*[10, 20, 30])

10
20
30
10
20
30

## 가변 인수 함수 만들기

In [ ]:
def print_numbers(*args):
  for arg in args:
    print(arg)
    # arg -> arguments

print_numbers(10)
print_numbers(10, 20, 30, 40)

x = [10]
print_numbers(*x)

y = [10, 20, 30, 40]
print_numbers(*y)

10
10
20
30
40
10
10
20
30
40

## 고정 인수와 가변 인수 함께 사용하기

In [ ]:
def print_numbers(a, *args):
  print(a)
  print(args)

print_numbers(1)

print_numbers(1, 10, 20)

print_numbers(*[10, 20, 30])

1
()
1
(10, 20)
10
(20, 30)

## 키워드 인수 사용하기
- 함수(키워드 = 값)

In [ ]:
def personal_info(name, age, address):
  print('이름 :', name)
  print('나이 :', age)
  print('주소 :', address)

personal_info(name = '홍길동', age = 30, address = '서울시 용산구 이촌동')

이름 : 홍길동
나이 : 30
주소 : 서울시 용산구 이촌동

## 키워드 인수와 딕셔너리 언패킹 사용하기
- 함수(**딕셔너리)

In [ ]:
def personal_info(name, age, address):
  print('이름 :', name)
  print('나이 :', age)
  print('주소 :', address)

x = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'}
personal_info(**x)

이름 : 홍길동
나이 : 30
주소 : 서울시 용산구 이촌동

## 여기까지 코딩도장 30.3
## 나머지 마무리 하기