<a href="https://colab.research.google.com/github/kimanuul/python_lectures/blob/main/day0627.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
title: "Python 기초문법"
date: '2022-06-27'
---

- Hello World

In [ ]:
print("Hello World")

Hello World

## 주석처리
- 1줄 주석
- 여러줄 주석처리
  + 함수 또는 클래스를 문서화할 때 주로 사용
  
- 프로젝트 할 때
  + 전체 공정 100
  + 코드 / 코드 문서화 / 한글작업 문서화

In [ ]:
# print() 함수 사용
print ("1줄 주석")

"""
여러줄 주석
쌍따옴표 3개를 입력해주세요
앞과 뒤로
"""

print("여러줄 주석")

1줄 주석
여러줄 주석

## 변수(Sclarar)
- 자료형
- Scalar형, Non-Scalar형

## 수치형 자료형
int, float

In [ ]:
num_int = 1
print(num_int)
print(type(num_int))

1
<class 'int'>

In [ ]:
num_float = 0.1
print(num_float)
print(type(num_float))

0.1
<class 'float'>

### Bool형
- True, False
- R : TRUE, FALSE

In [ ]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

### None 자료형
- Null 값, 값이 정해지지 않은 자료형

In [ ]:
none_x = None
print(none_x)
print(type(none_x))

None
<class 'NoneType'>

## 사칙연산
- 정수형 사칙연산, 실수형 사칙연산
- 결과값의 자료형

## 정수형 사칙 연산
- +, -, /, *

In [ ]:
a = 3
b = 2
print('a + b = ', a+b)
print('a - b = ', a-b)
print('a / b = ', a/b)
print('a * b = ', a*b)

a + b =  5
a - b =  1
a / b =  1.5
a * b =  6

## 실수형 사칙 연산

In [ ]:
a = 1.5
b = 2.5
print('a + b = ', a+b)

a + b =  4.0

## 논리형 연산자
- Bool형
- True와 False 값으로 정의
- 조건식
  + 교집합(=and)
  +합집합(=or)

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

## 비교 연산자
- 비교 연산자는 부등호를 의미한다.

In [ ]:
print(4 > 3) # 참 = True
print(4 < 3) # 거짓 = False

print(4 > 3 and 4 < 3) # False

True
False
False

## 논리형 & 비교 연산자 응용
- input()
- 형변환
  + 데이터 타입을 바꾸는 것

In [ ]:
var = int(input("숫자를 입력하세요..!"))
print(var)
print(type(var))

숫자를 입력하세요..!3
3
<class 'int'>

In [ ]:
num1 = int(input("첫번째 숫자를 입력하세요..!"))
num2 = int(input("두번째 숫자를 입력하세요..!"))
num3 = int(input("세번째 숫자를 입력하세요..!"))
num4 = int(input("네번째 숫자를 입력하세요..!"))

첫번째 숫자를 입력하세요..!10
두번째 숫자를 입력하세요..!20
세번째 숫자를 입력하세요..!50
네번째 숫자를 입력하세요..!100

In [ ]:
var1 = num1 >= num2
var2 = num3 < num4

print(var1 and var2)

False

## String
- Non Scarlar

In [ ]:
print('Hello World')
print("Hello World")
print("'Hello World'")
print('"Hello World"')

Hello World
Hello World
'Hello World'
"Hello World"

## String Operators
- 문자열 연산자
- +, * 가능

In [ ]:
str1 = "Hello "
str2 = "World "
print(str1 + str2)

Hello World

In [ ]:
greet = str1 + str2
print(greet * 3)

Hello World Hello World Hello World

## 문자열 인덱싱
- 인덱싱은 0번째부터 시작

In [ ]:
greeting = "Hello Kaggle"
i = int(input("숫자를 입력하세요..!"))
print(greeting[i])

숫자를 입력하세요..!4
o

## 슬라이싱

In [ ]:
greeting = "Hello Kaggle"
# print(greeting[시작인덱스:끝인덱스])
print(greeting[0:4])
print(greeting[2:-5])
print(greeting[0:10:2]) #2칸 띄어가며 쓰기

Hell
llo K
HloKg

- 문자열 관련 메서드
  + split()
  + sort()
  + etc

## 리스트
- []로 표시
- [item1, item2, item3]

In [ ]:
a = [] # 빈 리스트
a_func = list() # 빈 리스트 생성
b = [1] # 숫자 요소
c = ['apple'] # 문자 요소
d = [1, 2, ['apple'], 'apple']
print(d)

[1, 2, ['apple'], 'apple']

### 리스트 값 수정하기
- 리스트 값 수정

In [ ]:
a = [0, 1, 2]
a[1] = "random"
print(a)

[0, 'random', 2]

### 리스트 값 추가하기
- 메서드 사용

In [ ]:
a = [100, 200, 300]
a.append(400) # 이게 (내장) 메서드
print(a)

a.append([500, 600])
print(a)

a = [100, 200, 300]
a.extend([400, 500]) #리스트 형태로 삽입하는 (내장) 메서드
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, [500, 600]]
[100, 200, 300, 400, 500]

- insert(인덱스 위치, 값)

In [ ]:
a = [100, 200, 300]
a.insert(1,1000)
print(a)

[100, 1000, 200, 300]

### 리스트 값 삭제하기
- remove()
- del

In [ ]:
a = [1, 2, 1, 2]
a.remove(1) # 처음 등장하는 해당 값만 삭제
print(a)

a.remove(1)
print(a)

[2, 1, 2]
[2, 2]

- del

In [ ]:
a = [0, 1, 2, 3, 4]
del a[1] # 해당 인덱스의 값만 삭제
print(a)

del a[0:2]
print(a)

[0, 2, 3, 4]
[3, 4]

- pop()

In [ ]:
a = [1, 2, 3, 4, 5]
rem = a.pop(1) # pop 된 값을 지우지 않고 저장해둔다.
print(a)
print(rem)

x = a.pop() # index 값을 지정 안 해주면 제일 뒷자리의 인덱스 값으로 설정된다.
print(a)
print(x)

[1, 3, 4, 5]
2
[1, 3, 4]
5

- clear() : 리스트 내 모든 값 삭제
- index("값") : 값의 위치를 불러옴

In [ ]:
a = [1, 4, 5, 2, 3]
b = ["철수", "영희", "길동"]
#a.index(4)
#b.index("길동")
print(a.index(4))
print(b.index("길동"))

1
2

- sort : 리스트의 정렬

In [ ]:
a = [1, 4, 5, 2, 3]
a.sort() #오름차순 정렬
print(a)

a.sort(reverse = True) # 반대차순으로 정렬
print(a)

# help(list.sort)
help(list.index)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

## 튜플
- 면접질문 : 리스트와 튜플의 차이가 뭐예요?
- 리스트 : []
  + (수정, 삭제, 추가) 가능
-튜플 : ()
  + (수정, 삭제 추가) 불가

In [ ]:
tuple1 = (0)
tuple2 = (0, )
tuple3 = 0, 2, 3

print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

print(tuple1)
print(tuple2)
print(tuple3)

<class 'int'>
<class 'tuple'>
<class 'tuple'>
0
(0,)
(0, 2, 3)

In [ ]:
#a = (0, 1, 2, 3, 'a')
#del a[4]

## 튜플 연산자(=리스트 연산자)
- 문자열 연산자
- +, *

In [ ]:
t1 = (0, 1, 2)
t2 = (3, 4, 5)
print(t1 + t2)
print(t1*3)

(0, 1, 2, 3, 4, 5)
(0, 1, 2, 0, 1, 2, 0, 1, 2)

## 딕셔너리
- Key와 Value 값으로 구성되어짐
- 슬라이싱 -> 값의 순서가 존재해야 함
- 순서라는 개념 자체가 존재하지 않음

In [ ]:
temp_dict = {
    'teacher' : 'evan',
    'class' : 15,
    'students' : ['s1', 's2', 's3']
}

print(temp_dict['teacher'])
print(temp_dict['class'])
print(temp_dict['students'])

evan
15
['s1', 's2', 's3']

- keys() 값만 출력

In [ ]:
list(temp_dict.keys())

['teacher', 'class', 'students']

- values() 값만 출력

In [ ]:
temp_dict.values()
#list(temp_dict.values())

dict_values(['evan', 15, ['s1', 's2', 's3']])

- items() key-value 값 출력

In [ ]:
temp_dict.items()

dict_items([('teacher', 'evan'), ('class', 15), ('students', ['s1', 's2', 's3'])])

## 조건문

In [ ]:
a = int(input("숫자를 입력하세요..!"))

if a > 5:
  print("a 는 5보다 크다")
elif a > 0:
  print("a 는 0보다 크다")
elif a > -5:
  print("a는 -5보다 크다")
else:
  print("a는 매우 작다")

숫자를 입력하세요..!10
a 는 5보다 크다

## 반복문

In [ ]:

# Hello World 10번 출력하세요
print("Hello World")

greet = "Hello World"
print(greet*10)

for idx in range(3):
  print(idx+1, "Hello World")

Hello World
Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World
1 Hello World
2 Hello World
3 Hello World

- for loop if 조건문 사용
- 문자열, 리스트 등 -> 시퀀스 데이터 -> 반복문 사용 가능

In [ ]:
a = "Kaggle"
# g가 시작하면 반복문을 멈추세요
for x in a:
  print(x)
  if x == 'g' :
    break

K
a
g

- enumerate()

In [ ]:
alphabets = ['A', 'B', 'C']
for index, value in enumerate(alphabets):
  print(index, value)

0 A
1 B
2 C

## list comprehension (반복문을 한줄로 표시)

In [ ]:
"a" in "apple"

True

In [ ]:
fruits = ['apple', 'kiwi', 'mango']
newlists = []

# 알파벳 a가 있는 과일만 추출 후, 새로운 리스트에 담기
for fruit in fruits:
  print(fruit)
  if "a" in fruit:
    newlists.append(fruit)
    print(newlists)

apple
['apple']
kiwi
mango
['apple', 'mango']

In [ ]:
newlist = [fruit for fruit in fruits if "a" in fruit]
print(newlist)

['apple', 'mango']